html{
font-family:sans-serif;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
font-size:10px;
}
body{
 margin:0;
 font-family:SimHei, Helvetica, sans-serif;
 font-size:1.4rem;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
display:block
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, th, td {margin:0;padding:0;	border:0;}
audio,canvas,progress,video{
display:inline-block;
vertical-align:baseline
}
audio:not([controls]){
display:none;
height:0
}
[hidden],template{
display:none
}
a{
background:0 0
}
a:active,a:hover{
outline:0
}
img{
 border:0;
 display: block;
 width: 100%;
}
button,input,optgroup,select,textarea{
color:inherit;
font:inherit;
margin:0
}
button{
overflow:visible
}
button,select{
text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
-webkit-appearance:button;
cursor:pointer
}
button[disabled],html input[disabled]{
cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
border:0;
padding:0
}
input{
line-height:normal
}
/*加载中...*/
.index1{
 position: absolute;
 top:8%;
 left:50%;
 width:60%;
 margin-left:-30%;
 -webkit-animation: slideInUp ease 1.0s backwards;
 animation: slideInUp ease 1.0s backwards;
}
.index2{
 position: absolute;
 bottom:16%;
 left:0;
 width:100%;
 opacity: 0;
 -webkit-animation: slideInDown 1s ease 1.0s forwards;
 animation: slideInDown 1s ease 1.0s forwards;
}

.btn{
 position: absolute;
 bottom:5%;
 left:50%;
 display:inline-block;
 width:53%;
 height: 53px;
 margin-left:-26.5%;
 visibility:hidden;
 -webkit-animation:go_btn 2s 2s infinite  ;
 animation:go_btn 2s 2s infinite forwards;
}
.people{
 position: absolute;
 top:34%;
 left:39%;
 width: 12.3%;
 -webkit-animation: people 1s ease 3.0s forwards;
 animation: people 1s ease 3.0s forwards;
}
.index3{
 position: absolute;
 top:8%;
 left:11.5%;
 width:14.8%;
 -webkit-animation: cloud1 3.5s linear alternate infinite;
 animation: cloud1 3.5s linear alternate infinite;
}
.index4{
 position: absolute;
 top:18.6%;
 right:6.1%;
 width:11.4%;
 -webkit-animation: cloud2 3s linear alternate infinite;
 animation: cloud2 3s linear alternate infinite;
}
.index5{
 position: absolute;
 bottom:17%;
 left:12%;
 width:14.8%;
 -webkit-animation: cloud3 3.5s linear alternate infinite;
 animation: cloud3 3.5s linear alternate infinite;
}
.index6{
 position: absolute;
 top:10.3%;
 left:3.2%;
 width:8.8%;
 -webkit-animation: balloon1 3s linear alternate infinite;
 animation: balloon1 3s linear alternate infinite;
}
.index7{
 position: absolute;
 top:25%;
 right:3.2%;
 width:8.8%;
 -webkit-animation: balloon2 3.5s linear alternate infinite;
 animation: balloon2 3.5s linear alternate infinite;
}
/*第一页*/
.page1_bg{
 position: absolute;
 bottom:0;
 left:0;
 width:100%;
 color: #fff;
}

.cloud4{
 position: absolute;
 top:6%;
 right:9.3%;
 width:12.5%;
 -webkit-animation: cloud1 3s linear alternate infinite;
 animation: cloud1 3s linear alternate infinite;
}
.cloud5{
 position: absolute;
 bottom:68%;
 left:4.3%;
 width:18.6%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.cloud6{
 position: absolute;
 bottom:50%;
 left:24.8%;
 width:9.7%;
 -webkit-animation: cloud1 3.5s linear alternate infinite;
 animation: cloud1 3.5s linear alternate infinite;
}
.cloud7{
 position: absolute;
 bottom:16%;
 right:8.5%;
 width:12.5%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.finger{
 position: absolute;
 bottom:60%;
 right:17.3%;
 width:12%;
 -webkit-animation: finger 0.5s linear alternate;
 animation: finger 0.5s linear alternate;
}
.circel{
 position: absolute;
 bottom:68%;
 right:26%;
 width:20px;
 height:20px;
 border-radius: 10px;
 background: #14a6fa;
 -webkit-animation:circel 1s 0.5s ease both;
 animation:circel 1s 0.5s ease both;
}
.title1 {
 position: absolute;
 bottom:88%;
 left:7.7%;
 color: #fff;
 font-weight: 300;
 font-size: 1.7rem;
 width: auto; /* fallback */
 white-space: nowrap;
 opacity: 0;
 -webkit-animation: title1 1s ease 1s both;
 animation: title1 1s ease 1s both;
}
.title2{
 bottom:45.5%;
 left:inherit;
 right:4%;
 width: 193px;
 text-align: center;
 -webkit-animation: title2 1s ease 3.2s both;
 animation: title2 1s ease 3.2s both;
}
.date_time{
 position: absolute;
 bottom:80%;
 left:7.7%;
 color: #22abfc;
 width: 191px;
 height: 39px;
 padding:0 0 0 2px;
 background: url(../images/page1_pic3.png) no-repeat;
 background-size: 193px 39px;
 visibility:hidden;
 -webkit-animation:date_time 1s linear 2s forwards;
 animation:date_time 1s linear 2s forwards
}
.date_time p{
 width: 20px;
 height: 38px;
 float:left;
 text-align: center;
 font-size: 1.8rem;
 line-height: 39px;
 margin-right:2px;
 font-weight: 700;
}
.date_time p:nth-child(4){
 margin-right:11px
}
.date_time p:nth-child(6){
 margin-right:7px
}
.date_time2{
bottom:37.5%;
 left:inherit;
 right:4%;
 -webkit-animation:date_time 1s linear 4.2s forwards;
 animation:date_time 1s linear 4.2s forwards
}
/*日历翻牌*/
.wrap {
 width: 100%;
}
#numberboxs1,#numberboxs2 {
 position: absolute;
 bottom:80%;
 left:7.7%;
 color: #22abfc;
 width: 191px;
 height: 39px;
 padding:0 0 0 2px;
 background: url(../images/page1_pic3.png) no-repeat;
 background-size: 193px 39px;
 -webkit-animation:logo 1s 2s ease both;
 animation:logo 1s 2s ease both;
}
#numberboxs2{
 bottom:37.5%;
 left:inherit;
 right:4%;
 -webkit-animation:logo 1s 4.2s ease both;
 animation:logo 1s 4.2s ease both;
}
.numberlist {
 float: left;
 width: 100%;
 height: 24px;
 margin-top: 8px;
}
.numberlist .numberli {
 float: left;
 overflow: hidden;
 width: 20px;
 height: 24px;
 margin-right:2px;
}
.numberlist .numberli:nth-child(4){
 margin-right:11px
}
.numberlist .numberli:nth-child(6){
 margin-right:8px
}
.numberlist .childul {
 width: 20px;
}
.childul li {
 width: 100%;
 height: 24px;
 line-height: 24px;
 font-size: 1.8rem;
 text-align: center;
 color: #22abfc;
}
.title3{
 position: absolute;
 bottom:28%;
 left:29.5%;
 width: 9%;
 -webkit-animation:title3 0.2s 3s linear both;
 animation:title3 0.2s 3s linear both;
}
/*第二页*/
.page2_bg{
 position: absolute;
 top:0;
 left:0;
 width:100%;
 color: #fff;
}
.cloud8{
 position: absolute;
 top:2.5%;
 right:34.5%;
 width:12.5%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.cloud9{
 position: absolute;
 top:30.5%;
 left:4.5%;
 width:15%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.cloud10{
 position: absolute;
 top:41%;
 right:7%;
 width:9.8%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.page2_balloon1{
 position: absolute;
 bottom:2%;
 right:35.2%;
 width:8.8%;
 -webkit-animation: balloon2 3.5s linear alternate infinite;
 animation: balloon2 3.5s linear alternate infinite;
}
.page2_car{
 position: absolute;
 top:27%;
 right:29.5%;
 width:19.7%;
 -webkit-animation: page2car 0.3s linear .8s both;
 animation: page2car 0.3s linear .8s both;
}
.page2_shop{
 position: absolute;
 top:9.5%;
 right:3%;
 width:46.8%;
 -webkit-animation:page2 0.3s .5s linear both;
 animation:page3 0.3s .5s linear both;
}
.page2_title1{
 position: absolute;
 top:9%;
 left:4.5%;
 width:40%;
 color:#fff;
 font-size: 1.6rem;
 line-height: 20px;
}
.page2_title0{
 -webkit-animation: slideInleft  ease 1s 1.1s backwards;
 animation: slideInleft ease 1s 1.1s backwards;
}
.page2_title1 p{
 line-height: 31px;
 text-align: center;
}
.page2_title1 p:nth-child(2){
 background:#fff;
 border-radius:3px;
 line-height:20px;
 padding:6px 8px 5px;
 margin-top: 3%;
 width: 100%;
 text-align: center;
 color: #268eff;
 font-size:1.5rem;
}
.page2_cargo1{
 position: absolute;
 top:49%;
 left:0;
 width:22%;
 -webkit-animation:page2 0.3s 2.1s linear both;
 animation:page2 0.3s 2.1s linear both;
}
.page2_cargo2{
 position: absolute;
 top:59.5%;
 left:9.5%;
 width:15.5%;
 -webkit-animation:page2 0.3s 2.4s linear both;
 animation:page2 0.3s 2.4s linear both;
}
.page2_title2{
 top:47%;
 left:inherit;
 right:4.5%;
 -webkit-animation: slideInright  ease 1s 2.7s backwards;
 animation: slideInright ease 1s 2.7s backwards;
}
.page2_people{
 position: absolute;
 top:75.5%;
 right:20%;
 width:9.6%;
 -webkit-animation:page2 0.3s 3.7s linear both;
 animation:page2 0.3s 3.7s linear both;
}
.page2_title3{
 top:76%;
 left:10%;
 -webkit-animation: slideInleft  ease 1s 4s backwards;
 animation: slideInleft ease 1s 4s backwards;
}
/*第三页*/
.page3_bg{
 position: absolute;
 top:3%;
 left:0;
}
.page3_people{
 position: absolute;
 top:20%;
 left:5%;
}
.cloud11{
 position: absolute;
 top:10%;
 right:5%;
 width:12.5%;
 -webkit-animation: cloud2 3s linear alternate infinite;
 animation: cloud2 3s linear alternate infinite;
}
.cloud12{
 position: absolute;
 top:39%;
 left:38%;
 width:12.5%;
 -webkit-animation: cloud2 3s linear alternate infinite;
 animation: cloud2 3s linear alternate infinite;
}
.page3_people{
 position: absolute;
 top:21%;
 left: 50%;
 width: 5.6%;
}
.page3_pic1{
 position: absolute;
 top:7%;
 left: 55%;
 width: 21.7%;
 -webkit-animation:page3 0.1s .5s linear both;
 animation:page3 0.1s .5s linear both;
}
.page3_pic2{
 position: absolute;
 top:7.8%;
 left: 53.5%;
 width: 21.7%;
 -webkit-animation:page3 0.1s .6s linear both;
 animation:page3 0.1s .6s linear both;
}
.page3_pic3{
 position: absolute;
 top:8.2%;
 left: 52%;
 width: 21.7%;
 -webkit-animation:page3 0.1s 0.7s linear both;
 animation:page3 0.1s 0.7s linear both;
}
.page3_ipad{
 position: absolute;
 top:43.5%;
 left: 2%;
 width: 38.3%;
 -webkit-animation:page2 0.3s 1.8s linear both;
 animation:page2 0.3s 1.8s linear both;
}
.page3_pic4{
 position: absolute;
 top:28%;
 left: 2%;
 width: 39.9%;
 -webkit-animation:logo 1s 2.1s ease both;
 animation:logo 1s 2.1s ease both;
}
.page3_pic5{
 position: absolute;
 top:67.5%;
 right: 34%;
 width: 13.2%;
 -webkit-animation:page2 0.2s 3.5s linear both;
 animation:page3 0.2s 3.5s linear both;
}
.page3_pic6{
 position: absolute;
 top:68.5%;
 right: 25%;
 width: 11.9%;
 -webkit-animation:page2 0.2s 3.7s linear both;
 animation:page3 0.2s 3.7s linear both;
}
.page3_pic7{
 position: absolute;
 top:71%;
 right: 10%;
 width: 16.4%;
 -webkit-animation:page2 0.2s 3.9s linear both;
 animation:page3 0.2s 3.9s linear both;
}
/*文字*/
.page3_title1{
 position: absolute;
 top:7%;
 left: 8.5%;
 line-height: 20px;
 color: #fff;
 font-size:1.4rem;
}
.page3_title0{
 -webkit-animation: slideInleft  ease 1s 0.8s backwards;
 animation: slideInleft ease 1s 0.8s backwards;
}
.page3_title1 p:nth-child(1){
 font-size: 1.9rem;
}
.page3_title1 p:nth-child(2){
 font-size: 1.5rem;
}
.page3_title1 p:nth-child(3){
 font-size: 1.5rem;
 margin-top:7px;
}
.page3_title1 span{
 font-size: 2.4rem;
 color: #ffe795;
 padding-right: 8px;
}
.page3_title2{
 top:40%;
 left: inherit;
 right: 10%;
 text-align: right;
 -webkit-animation: slideInright  ease 1s 2.5s backwards;
 animation: slideInright ease 1s 2.5s backwards;
}
.page3_title2 p:nth-child(1){
 padding-right:14px;
}
.page3_title2 p:nth-child(3){
 padding-right:18px;
}
.page3_title3{
 top:67%;
 -webkit-animation: slideInleft  ease 1s 4.1s backwards;
 animation: slideInleft ease 1s 4.1s backwards;
}
/*第四页*/
.page4_bg{
 position: absolute;
 bottom:0;
 left:0
}
.page4_pic1 {
 position: absolute;
 bottom: 52.5%;
 right: 15.5%;
 width: 30.5%;
 -webkit-animation:page2 0.3s .5s linear both;
 animation:page3 0.3s .5s linear both;
}
.page4_pic2 {
 position: absolute;
 bottom: 54%;
 right: 10%;
 width: 39.7%;
 -webkit-animation:logo 0.5s 0.8s ease-in-out both;
 animation:logo 0.5s 0.8s ease-in-out both;
}
.page4_pic3 {
 position: absolute;
 bottom: 15%;
 left: 25%;
 width: 32.4%;
 -webkit-animation:page2 0.3s 2s linear both;
 animation:page3 0.3s 2s linear both;
}
.cloud13{
 position: absolute;
 top:3%;
 right:40%;
 width:11.4%;
 -webkit-animation: cloud2 3s linear alternate infinite;
 animation: cloud2 3s linear alternate infinite;
}
.cloud14{
 position: absolute;
 top:25%;
 left:6%;
 width:14.8%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.cloud15{
 position: absolute;
 top:60%;
 right:10%;
 width:11.4%;
 -webkit-animation: cloud2 3s linear alternate infinite;
 animation: cloud2 3s linear alternate infinite;
}
.page4_balloon1{
 position: absolute;
 top:65%;
 left:15%;
 width:2.4%;
 -webkit-animation:balloon 5s linear infinite;
 animation:balloon 5s linear infinite
}
.page4_balloon2{
 position: absolute;
 top:68%;
 left:18%;
 width:2.4%;
 -webkit-animation:balloon 7s linear infinite;
 animation:balloon 7s linear infinite
}
.page4_balloon3{
 position: absolute;
 top:70%;
 right:22%;
 width:2.4%;
 -webkit-animation:balloon 5s linear infinite;
 animation:balloon 5s linear infinite
}
.page4_balloon4{
 position: absolute;
 top:67%;
 right:30%;
 width:2.4%;
 -webkit-animation:balloon 6s linear infinite;
 animation:balloon 6s linear infinite
}

@-webkit-keyframes balloon {
 0% {
  -webkit-transform:translate3d(0, 0, 0);
  opacity:0;
  visibility:visible
 }
 15% {
  opacity:1
 }
 65% {
  opacity:1
 }
 82% {
  -webkit-transform:translate3d(15px, -33px, 0);
  opacity:0
 }
 83% {
  -webkit-transform:translate3d(0, 0, 0)
 }
 100% {
  opacity:0
 }
}
/*第五页*/
.page5_bg{
 position: absolute;
 top:0;
 left:0
}
.lottery{
 position: absolute;
 top:15%;
 left:15%;
 width: 29.9%;
}
.lottery img:nth-child(1){
  position: absolute;
  bottom:-5%;
  left: 50%;
  width: 72.3%;
  margin-left:-36.15%

}
.lottery img:nth-child(2){
 position: relative;
 z-index: 10;
 -webkit-transform: rotate(360deg);
 -webkit-animation: rotation 3s linear infinite;
 animation: rotation 3s linear infinite;

}
.lottery img:nth-child(3){
 position: absolute;
 top:31.9%;
 left: 50%;
 width: 20.5%;
 margin-left:-10.25%;
 z-index: 11;
}
.coupon{
 position: absolute;
 top:64%;
 right:0;
 width: 47%;
}
.coupon img:nth-child(1){
 position: absolute;
 top:2px;
 left: -2px;
 width: 60.5%;
 -webkit-animation: coupon1 0.5s ease 1s both;
 animation: coupon1 0.5s ease 1s both;
}
.coupon img:nth-child(2){
 position: absolute;
 top:2px;
 right: 0;
 width: 58%;
 -webkit-animation: coupon2 0.5s ease 1s both;
 animation: coupon2 0.5s linear 1s both;
}
.coupon img:nth-child(3){
 position: absolute;
 top:0;
 left: 50%;
 width: 41%;
 margin-left: -20.5%;
 opacity: 0;
 -webkit-animation:page2 0.3s 0.7s linear both;
 animation:page3 0.3s 0.7s linear both;
}
.page5_title1{
 position: absolute;
 top:7%;
 right: 9%;
 width: auto;
 line-height: 24px;
 color: #fff;
 white-space:nowrap;
}
.page5_title0{
 -webkit-animation: slideInright ease 1.0s backwards;
 animation: slideInright ease 1.0s backwards;
}
.page5_title1 p:nth-child(1){
 font-size: 2rem;
}
.page5_title1 p:nth-child(2),.page5_title1 p:nth-child(3){
 font-size: 1.5rem;
}
.page5_title1 p span{
 font-size: 2.3rem;
 color: #ffd878;
 padding: 0 4%;
}
#count-number10{
 padding:0 4% 0 0;
}
.page5_title2{
 top:57%;
 left:6%;
 -webkit-animation: slideInleft  ease 1s 1.4s backwards;
 animation: slideInleft ease 1s 1.4s backwards;
}
.page4_title1{
 right: inherit;
 top:7%;
 left:6%;
 -webkit-animation: slideInleft  ease 1s 1s backwards;
 animation: slideInleft ease 1s 1s backwards;
}
.page4_title2{
 right: inherit;
 left:6%;
 top:50%;
 -webkit-animation: slideInleft  ease 1s 2.2s backwards;
 animation: slideInleft ease 1s 2.2s backwards;
}
.cloud16{
 position: absolute;
 top:6%;
 left:20%;
 width:14.8%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.cloud17{
 position: absolute;
 top:55%;
 right:20%;
 width:14.8%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.cloud18{
 position: absolute;
 top:90%;
 left:5%;
 width:14.8%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.page5_balloon1{
 position: absolute;
 top:18%;
 right:5.2%;
 width:8.8%;
 -webkit-animation: balloon2 3.5s linear alternate infinite;
 animation: balloon2 3.5s linear alternate infinite;
}
/*第六页*/
.page6_bg{
 position: absolute;
 left:0;
 bottom:5%;
}
.page6_title1{
 top:3%;
 left:6%;
 -webkit-animation: slideInleft  ease 1s 1s backwards;
 animation: slideInleft ease 1s 1s backwards;
}
.page6_title2{
 top:45%;
 left:6%;
 -webkit-animation: slideInleft  ease 1s 2s backwards;
 animation: slideInleft ease 1s 2s backwards;
}
.page6_shop{
 position: absolute;
 top:17.5%;
 right:0;
 width: 52.3%;
 height:150px;
}
.page6_shop img:nth-child(1){
 position: absolute;
 top:0;
 right:0;
 width: 90%;
 -webkit-animation:page2 0.3s .5s linear both;
 animation:page3 0.3s .5s linear both;
}
.page6_shop img:nth-child(2){
 position: absolute;
 top:62%;
 lef:5%;
 width: 18.4%;
 -webkit-animation:page2 0.3s .8s linear both;
 animation:page3 0.3s .8s linear both;
}
.page6_shop img:nth-child(3){
 position: absolute;
 top:58%;
 left:20%;
 width: 32.7%;
 -webkit-animation:page2 0.3s 1.1s linear both;
 animation:page3 0.3s 1.1s linear both;
}
.page6_ipad{
 position: absolute;
 bottom:10.5%;
 right:32.8%;
 width: 15.8%;
 height:150px;
}
.page6_ipad .page_hui{
 width: 37.8%;
 margin: 0 auto;
 -webkit-animation:logo 0.5s 1.6s ease both;
 animation:logo 0.5s 1.6s ease both;
}
.page6_tel{
 margin-top: 15%;
 position: absolute;
}
.page6_tel img:nth-child(1){
 width: 100%;
 -webkit-animation:logo 0.5s 2.1s ease both;
 animation:logo 0.5s 2.1s ease both;
}
.page6_tel img:nth-child(2){
 position: absolute;
 bottom:13%;
 left:50%;
 width: 81.5%;
 margin-left: -40.75%;
 -webkit-animation:logo 0.5s 2.6s ease both;
 animation:logo 0.5s 2.6s ease both;
}
.cloud19{
 position: absolute;
 bottom:80%;
 left:20%;
 width:14.8%;
 -webkit-animation: cloud2 3.5s linear alternate infinite;
 animation: cloud2 3.5s linear alternate infinite;
}
.cloud20{
 position: absolute;
 bottom:33%;
 right:0;
 width:10.8%;
 -webkit-animation: cloud4 3s linear alternate infinite;
 animation: cloud4 3s linear alternate infinite;
}
.page6_balloon1{
 position: absolute;
 bottom:60%;
 left:10%;
 width:8.8%;
 -webkit-animation: balloon2 3.5s linear alternate infinite;
 animation: balloon2 3.5s linear alternate infinite;
}
/*第七页*/
.page7_pic1 p{
 margin: 4% 0 0;
 line-height: 20px;
 text-align: center;
 font-size: 1.4rem;
 color: #fff;
}
.page7_pic1 img{
 visibility: hidden;
 -webkit-animation:go_btn2 2s 0.5s ease both;
 animation:go_btn2 2s 0.5s ease both;
}
.page7_title1{
 padding:10% 5% 3%;
 line-height: 30px;
 text-align: center;
 font-size: 1.7rem;
 color: #fff;
}
.page7_title1 p:nth-last-child(2){
 padding:5px 0 0;
}
.page7_title1 p:nth-child(2) span{
 padding:0 5px;
 font-size: 3.7rem;
 color:#ffe558 ;
}
.page7_title1 p:nth-child(3) span{
 padding:0 3px;
 font-size: 2.4rem;
 color:#ffe558 ;
}
.page7_btn{
 padding:0 6.1%;
 margin: 5% auto 0;
 font-size: 1.5rem;
 font-weight: normal;
 color: #25adfb;
}
.page7_btn a{
 width: 45.2%;
 float: left;
}
.page7_btn a:nth-child(2){
 float: right;
}
.share_pic p{
 margin: 3% 0 0;
 line-height: 30px;
 font-size: 2rem;
}
.share_pic p span{
 color:#ffe558;
}
.share_title{
 padding:15% 5% 5%;
}
.share_title p:nth-child(1) span,.share_title p:nth-child(2) span{
 color:#ffe558 ;
 font-size: 2.0rem;
}
.share_btn{
 margin: 2% auto 0;
}
@-webkit-keyframes cloud1{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(-25px,0,0);
  transform:translate3d(-25px,0,0)
 }
}
@keyframes cloud1{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(-25px,0,0);
  transform:translate3d(-25px,0,0)
 }
}
@-webkit-keyframes cloud2{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(15px,0,0);
  transform:translate3d(15px,0,0)
 }
}
@keyframes cloud2{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(15px,0,0);
  transform:translate3d(15px,0,0)
 }
}
@-webkit-keyframes cloud3{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(-25px,0,0);
  transform:translate3d(-25px,0,0)
 }
}
@keyframes cloud3{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(-25px,0,0);
  transform:translate3d(-25px,0,0)
 }
}
@-webkit-keyframes cloud4{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(-15px,0,0);
  transform:translate3d(-15px,0,0)
 }
}
@keyframes cloud4{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(-15px,0,0);
  transform:translate3d(-15px,0,0)
 }
}
@-webkit-keyframes balloon1{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(25px,0,0);
  transform:translate3d(25px,0,0)
 }
}
@keyframes balloon1{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(25px,0,0);
  transform:translate3d(25px,0,0)
 }
}
@-webkit-keyframes balloon2{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(-15px,0,0);
  transform:translate3d(-15px,0,0)
 }
}
@keyframes balloon2{
 0%{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 }
 100%{
  -webkit-transform:translate3d(-15px,0,0);
  transform:translate3d(-15px,0,0)
 }
}
@-webkit-keyframes slideInUp {
 0% {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  opacity: 0;
 }
 100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
 }
}
@keyframes slideInUp {
 0% {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  opacity: 0;
 }
 100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
 }
}
@-webkit-keyframes slideInleft {
 0% {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
 }
 100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
 }
}
@keyframes slideInleft {
 0% {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  opacity: 0;
 }
 100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
 }
}
@-webkit-keyframes slideInright {
 0% {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
 }
 100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
 }
}
@keyframes slideInright {
 0% {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
 }
 100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
 }
}
@-webkit-keyframes slideInDown {
 0% {
  -webkit-transform: translateY(15rem);
  transform: translateY(15rem);
  opacity: 0;
 }
 100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
 }
}
@keyframes slideInDown {
 0% {
  -webkit-transform: translateY(6.25rem);
  transform: translateY(6.25rem);
  opacity: 0;
 }
 100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
 }
}
@-webkit-keyframes people {
 0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
 }
 100% {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
 }
}
@keyframes people {
 0% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
 }
 100% {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
 }
}

@-webkit-keyframes go_btn {
 0% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;
  visibility:visible
 }
 10% {
  -webkit-transform:scale3d(1.1, 1.1, 1.1);
  transform:scale3d(1.1, 1.1, 1.1);
  opacity:.8
 }
 20% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1
 }
 30% {
  -webkit-transform:scale3d(1.1, 1.1, 1.1);
  transform:scale3d(1.1, 1.1, 1.1);
  opacity:.8
 }
 40% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1
 }
 100% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1
 }
}
@keyframes go_btn {
 0% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;
  visibility:visible
 }
 10% {
  -webkit-transform:scale3d(1.1, 1.1, 1.1);
  transform:scale3d(1.1, 1.1, 1.1);
  opacity:.8
 }
 20% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1
 }
 30% {
  -webkit-transform:scale3d(1.1, 1.1, 1.1);
  transform:scale3d(1.1, 1.1, 1.1);
  opacity:.8
 }
 40% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1
 }
 100% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1
 }
}
@-webkit-keyframes go_btn2 {
 0% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;

 }
 10% {
  -webkit-transform:scale3d(1.1, 1.1, 1.1);
  transform:scale3d(1.1, 1.1, 1.1);
  opacity:.8;
  visibility:visible

 }
 20% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;
  visibility:visible
 }
 30% {
  -webkit-transform:scale3d(1.1, 1.1, 1.1);
  transform:scale3d(1.1, 1.1, 1.1);
  opacity:.8;
  visibility:visible
 }
 40% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;
  visibility:visible
 }
 100% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;
  visibility:visible
 }
}
@keyframes go_btn2 {
 0% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;

 }
 10% {
  -webkit-transform:scale3d(1.1, 1.1, 1.1);
  transform:scale3d(1.1, 1.1, 1.1);
  opacity:.8;
  visibility:visible

 }
 20% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;
  visibility:visible
 }
 30% {
  -webkit-transform:scale3d(1.1, 1.1, 1.1);
  transform:scale3d(1.1, 1.1, 1.1);
  opacity:.8;
  visibility:visible
 }
 40% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;
  visibility:visible
 }
 100% {
  -webkit-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
  opacity:1;
  visibility:visible
 }
}


@-webkit-keyframes btn {
 0% {
  -webkit-transform:scale3d(1, 1, 1);
  opacity:0;
  visibility:hidden;
 }


 100% {
  -webkit-transform:scale3d(1, 1, 1);
  opacity:1
 }

}
@keyframes btn {
 0% {
  -webkit-transform:scale3d(1, 1, 1);
  opacity:0;
  visibility:hidden;
 }

 100% {
  -webkit-transform:scale3d(1, 1, 1);
  opacity:1
 }

}
@-webkit-keyframes finger {
 0% {
  -webkit-transform: translate(100px,100px);
  transform: translate(100px,100px);
  opacity: 0;
 }
 100% {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
 }
}
@keyframes finger {
 0% {
  -webkit-transform: translate(100px,100px);
  transform: translate(100px,100px);
  opacity: 0;
 }
 100% {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
 }
}
@-webkit-keyframes page2car {
 0% {
  -webkit-transform: translate(50px,-30px);
  transform: translate(50px,-30px);
  opacity: 0;
 }
 100% {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
 }
}
@-webkit-keyframes circel {
 0% {
  -webkit-transform:scale3d(1, 1, 1);
  opacity: 0;
 }
 80% {
  -webkit-transform:scale3d(1.2, 1.2, 1.2);
  opacity: 1;
 }
 100% {
  -webkit-transform:scale3d(1, 1, 1);
  opacity: 0;
 }
}
@-webkit-keyframes date_time {
 0% {
  -webkit-transform:translate3d(0, 300px, 0);
  visibility:visible;
 }
 30% {
  -webkit-transform:translate3d(0, -2px, 0);
  visibility:visible;
 }
 44% {
  -webkit-transform:translate3d(0, 2px, 0);
  visibility:visible;
 }
 58% {
  -webkit-transform:translate3d(0, -2px, 0);
  visibility:visible;
 }
 72% {
  -webkit-transform:translate3d(0, 1px, 0);
  visibility:visible;
 }
 86% {
  -webkit-transform:translate3d(0, -1px, 0);
  visibility:visible;
 }
 100% {
  -webkit-transform:translate3d(0, 0, 0);
  visibility:visible;
 }
}

@-webkit-keyframes title1 {
 0% {
  -webkit-transform: translatex(-15rem);
  transform: translatex(-15rem);
  opacity: 0;
 }
 100% {
  -webkit-transform: translatex(0);
  transform: translatex(0);
  opacity: 1;
 }
}
@keyframes title1 {
 0% {
  -webkit-transform: translatex(-15rem);
  transform: translatex(-15rem);
  opacity: 0;
 }
 100% {
  -webkit-transform: translatex(0);
  transform: translatex(0);
  opacity: 1;
 }
}
@-webkit-keyframes title2 {
 0% {
  -webkit-transform: translatex(15rem);
  transform: translatex(15rem);
  opacity: 0;
 }
 100% {
  -webkit-transform: translatex(0);
  transform: translatex(0);
  opacity: 1;
 }
}
@keyframes title2 {
 0% {
  -webkit-transform: translatex(15rem);
  transform: translatex(15rem);
  opacity: 0;
 }
 100% {
  -webkit-transform: translatex(0);
  transform: translatex(0);
  opacity: 1;
 }
}
@-webkit-keyframes title3 {

 0% {
  -webkit-transform: translatey(-10px);
  transform: translatey(-10px);
  opacity:0;
 }
 100% {
  -webkit-transform: translatey(0);
  transform: translatey(0);
  opacity:1;
 }
}
@-webkit-keyframes page3 {

 0% {
  -webkit-transform: translatey(-50px);
  transform: translatey(-50px);
  opacity:0;
 }
 100% {
  -webkit-transform: translatey(0);
  transform: translatey(0);
  opacity:1;
 }
}
@-webkit-keyframes page2 {
 0% {
  -webkit-transform: translatey(-100px);
  transform: translatey(-100px);
  opacity:0;
 }
 100% {
  -webkit-transform: translatey(0);
  transform: translatey(0);
  opacity:1;
 }
}
@keyframes page2 {
 0% {
  -webkit-transform: translatey(-100px);
  transform: translatey(-100px);
  opacity:0;
 }
 100% {
  -webkit-transform: translatey(0);
  transform: translatey(0);
  opacity:1;
 }
}
@-webkit-keyframes rotation{
 0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
 }
 50% {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
 }
 100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}
@keyframes rotation{
 0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
 }
 50% {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
 }
 100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}
@-webkit-keyframes coupon1 {
 0% {
  -webkit-transform: translate(60px,0);
  transform: translate(60px,0);
  opacity: 0;
 }
 100% {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
 }
}
@keyframes coupon1 {
 0% {
  -webkit-transform: translate(60px,0);
  transform: translate(60px,0);
  opacity: 0;
 }
 100% {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
 }
}
@-webkit-keyframes coupon2 {
 0% {
  -webkit-transform: translate(-60px,0);
  transform: translate(-60px,0);
  opacity: 0;
 }
 100% {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
 }
}
@keyframes coupon2 {
 0% {
  -webkit-transform: translate(-60px,0);
  transform: translate(-60px,0);
  opacity: 0;
 }
 100% {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
 }
}
@-webkit-keyframes logo{
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}
@keyframes logo{
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}
@-webkit-keyframes musicRotate {
 0% {
  -webkit-transform:rotateZ(0);
  transform:rotateZ(0)
 }
 100% {
  -webkit-transform:rotateZ(360deg);
  transform:rotateZ(360deg)
 }
}
@keyframes musicRotate {
 0% {
  -webkit-transform:rotateZ(0);
  transform:rotateZ(0)
 }
 100% {
  -webkit-transform:rotateZ(360deg);
  transform:rotateZ(360deg)
 }
}
.hide,.none{
display:none!important
}
.hidden{
visibility:hidden
}

body{
line-height:1.5;
-webkit-font-smoothing:antialiased;
background-color:#fff;
font-size:1.5rem;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none
}

body,html{
height:100%;
overflow:hidden
}
/*滑动提示*/
.guide-arrow{
 position:fixed;
 bottom:1.875rem;
 left:50%;
 margin-left:-14px;
 background:url(../images/sprite.png)  no-repeat;
 background-size: 28px 27px;
 width:28px;
 height:27px;
 -webkit-animation:bounceInOut 1.5s ease-in-out infinite;
 animation:bounceInOut 1.5s ease-in-out infinite;
 z-index:10
}
.sound_have, .sound_none {
 position: absolute;
 right: 2.8%;
 top: 4%;
 width: 28px;
 height: 28px;
 z-index: 10;
 -webkit-animation:musicRotate 2s linear infinite;
 animation:musicRotate 2s linear infinite;
}
.sound_none {
 animation-name: none;
 -webkit-animation-name: none;
}
.index{
 position: absolute;
 top:0;
 left:0;
 width: 100%;
 height:100%;
 background: #14a6fa;
}

#main{
position:relative;
width:100%;
height:100%;
background: #14a6fa;
overflow:hidden;
margin:0 auto
}

.swiper-container{
position:absolute;
left:0;
right:0;
bottom:0;
top:0;
height:100%;
overflow:hidden;
-webkit-perspective:2000px;
perspective:2000px
}

.swiper-container>.swiper-wrapper{
height:100%
}

.swiper-container>.swiper-wrapper>.swiper-slide{
display:none;
position:absolute;
top:0;
left:0;
z-index:0;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-transform-style:preserve-3d;
transform-style:preserve-3d;
width:100%;
height:100%
}

.swiper-container>.swiper-wrapper>.swiper-slide .inner{
width:100%;
height:100%;
background-repeat:no-repeat;
background-position:top center;
background-size:cover;
overflow:hidden;
position:relative
}

.swiper-container>.swiper-wrapper>.swiper-slide.current{
z-index:8;
display:block
}

.swiper-container>.swiper-wrapper>.swiper-slide.active{
z-index:9;
display:block
}

.popUp {
 position: fixed;
 left: 0;
 top: 0;
 background: rgba(0,0,0,0.5);
 width: 100%;
 min-height: 100%;
 z-index: 999999999999999999999;
 display: none;
}
.window {
 position: absolute;
 left: 7.5%;
 top: 20%;
 z-index: 2;
 width: 85%;
 background: none;
 overflow: hidden;
}
.close,.close2{
 display: block;
 position: absolute;
 top:0;
 right:7%;
 width:32px;
 height: 32px;
 background: url(../images/close.png)  no-repeat;
 background-size: 32px 32px;
}
.close2{
 top:10%;
 right:19%;
}
@media only screen and (device-width: 320px) and (device-height: 568px) and (orientation : portrait) {
 .finger{
  bottom:61.5%;
 }
 .circel{
  bottom:69.5%;
 }
 .title1{
  bottom:92%;
 }
 #numberboxs1, #numberboxs2{
  bottom:84%;
 }
 .title2{
  bottom:50%;
 }
 #numberboxs2{
  bottom:42%;
 }
 .page2_cargo1{
  top:50%
 }
 .page2_cargo2{
  top:60.5%
 }
 .page3_ipad{
  top:44.2%;
 }
 .page3_pic4{
  top:28.3%;
 }
 .page4_pic1{
  bottom: 54%;
 }
 .page4_pic2{
  bottom: 55.5%;
 }
 .page4_pic3{
  bottom:15.5%;
 }
 .coupon{
  top:65.5%;
 }
 .page6_shop{
  top:16%
 }
 .page6_ipad{
  bottom: 6.5%;
 }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and (orientation : portrait) {
 .page3_ipad{
  top:43%;
 }
 .page3_pic4{
  top:27.7%;
 }
 .page3_pic5{
  top:66.7%;
 }
 .page3_pic6{
  top:67.7%;
 }
 .page3_pic7{
  top:70.2%;
 }
 .coupon{
  top:63.5%;
 }
 .page6_shop{
  top:18%
 }
 .page6_ipad{
  bottom:12%
 }
}
@media only screen and (device-width: 360px) and (device-height: 640px) and (orientation : portrait) {
 .finger{
  bottom:61.5%;
 }
 .circel{
  bottom:69.5%;
 }
 .page2_cargo1{
  top:50%;
 }
 .page2_cargo2{
  top:60.5%;
 }
 .page2_people{
  top:76%;
 }
 .page3_ipad{
  top:44.3%
 }
 .page3_pic4{
  top:28.5%;
 }
 .page3_pic5{
  top:68.7%;
 }
 .page3_pic6{
  top:69.7%;
 }
 .page3_pic7{
  top:72.2%;
 }
 .page4_pic1{
  bottom: 54%;
 }
 .page4_pic2{
  bottom: 55.5%;
 }
 .page4_pic3{
  bottom:15.5%;
 }
 .coupon{
  top:65.5%;
 }
 .page6_shop{
  top:16.2%
 }
 .page6_ipad{
  bottom:9.3%
 }
}